<div class="container">
  <br />
  <br />
  <h1 class="headline">About The Generalist</h1>
<br class="clear" />
  <p>The Generalist was created for Developers who want to take their skills to the next level.
    In this ever changing field, full-stack Developers are in demand and only a Generalist would thrive
    in teams in which they can bring more to the table, making new Developers more attractive and therefore employable.
</p>
<p>
    Here at The Generalist we encourage programmers to leave their comfort zone and explore other technologies and stacks.
  </p>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />
