<div class="container">
<br />
<!-- Jumbotron -->
  <div class="jumbotron">
    <h1>Become a Polyglot today!</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
  </div>

  <h1>All Contributions</h1>

  <ul id="entries">
    <% @entry.each do |entry| %>
      <li>
        <%= link_to entry.title, entry_path(entry), class: 'entry_title'%>
      </li>
    <% end %>
  </ul>

  <br />
  <br />
  <br />
</div>
