<div class = "container">
  <div class="blog-post">
    <h1 class="blog-post-title"><%= @entry.title %></h1>
      <p class="blog-post-meta"><%= @entry.created_at.strftime('%B %d, %Y') %>
      <p><%=  sanitize(@entry.body) %></p>
  </div>


  <%= link_to "<< Back to Entries List", entries_path %>
</div>
